/* General */
body{
    background: #eee;
}

/* Registro */
.box-form{
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0px auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}